.description {
  font-size: large;
  text-align: center;
}

.sdg-h1 {
  text-align: center;
}

.sdg-h2 {
  text-align: left;
}

.sdg-a {
  display: inline-block;
}

.centered {
  text-align: center;
}

.results-heading {
  color: #00E9BC!important;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.sdg-wheel {
  position: relative;
}

.sdg-wheel:hover + .sdg-legend {
  opacity: 1;
  background-color: white;
  color: black;
}

.sdg-description {
  display: none;
  width: 200px;
  height: 100px;
}

.sdg-legend {
  border-radius: 20px;
  position: absolute;
  right: 50px;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  width: 400px;
  transition: .5s ease;
  color: white;
  font-size: 14px;
  padding: 10px;
}
