@import "./base.css";

#app {
    margin: 0 auto;
    font-weight: normal;
    width: 100%;
}

a,
.green {
    /* text-decoration: none; */
    /* color: hsla(160, 100%, 37%, 1); */
    transition: 0.4s;
}


@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        padding: 0;
    }
}

.comfortable {
    height: 90px;
}

/* Forms */
.semi-transparent {
    opacity: 0.9;
}

/* Forms */
input {
    display: block;
    width: 100%;
    padding: 0.4em;
    border: 1px solid #bcbcbc;;
    border-radius: 0.25em;
}

label {
    display: block;
}

.no-uppercase {
    text-transform: none;
}

.required-fields-message {
    margin-left: 20px;
}

.submission-action {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-spacer {
    margin-bottom: 20px;
}

.can-not-find-message {
    margin-top: 20px;
    margin-bottom: 20px
}

/* Update modals */

.edit-pen-container .edit-pen {
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: 10;
}


.edit-pen-container .edit-pen button {
    opacity: 0;
}

.edit-pen-container:hover .edit-pen button {
    opacity: 0.5;
}

.edit-pen-container .edit-pen:hover {
    opacity: 1;
}
 
.edit-pen-container:hover .non-solid-bg .edit-pen > button {
    opacity: 0.7;
    background: white;
}

/* Tables */

.table-checkbox {
    margin:0px;
    padding:0px
}

.compare-button {
    margin-bottom: 20px;
    margin-left: 10px;
}

.inline-action {
    margin-left: 10px;
}

.notificationContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    display: grid;
    grid-gap: 0.5em;
    z-index: 99;
}

.table-header-actions {
    margin-bottom: -50px;
}

/* Comparators */

.middle-arrow {
    margin-left: 25px;
    margin-top: 120px;
}

/* Statistics */

.statistics {
    padding: 10px;
}

/* Landing Pages */

.actions-box {
    border: 2px solid lightskyblue;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
