@import "./base.css";

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
    width: 100%;
}

a,
.green {
    /* text-decoration: none; */
    /* color: hsla(160, 100%, 37%, 1); */
    transition: 0.4s;
}


@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        padding: 0 2rem;
    }
}


/* Forms */
input {
    display: block;
    width: 100%;
    padding: 0.4em;
    border: 1px solid #bcbcbc;;
    border-radius: 0.25em;
}

label {
    display: block;
}